.tree-table-row-cell {
    /*body*/
    -fx-background-color: #1E1E1E;
    -fx-border-width: 0;
}

.tree-table-view {
    /*top*/
    -fx-background-color: #1E1E1E;
    -fx-font-family: Inconsolata;
    -fx-font-size: 16px;
    -fx-border-width: 0;
    -fx-tree-table-color: rgba(154, 82, 174, 0.4);
    -fx-tree-table-rippler-color: rgb(192, 133, 222);
}


.tree-table-row-cell:selected {
    -fx-background-color: #6a8080;
}

.tree-table-row-cell .text {
    -fx-fill: #EEEEEE;
}
.tree-table-row-cell:selected .text {
    -fx-fill: #FFFFFF;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.tree-table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: TRANSPARENT;
}

.tree-table-view .column-header:hover {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: TRANSPARENT;
}

